body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.search-container {
    margin-top: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.main {
    padding: 20px;
}

.pokemon-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-list li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 150px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
    font-size: 14px;
}